{{ define "add_question.layout" }}

    {{ template "navbar.layout"}}
    {{ template "add_question.context" . }}
    {{ template "footer.layout"}}

{{ end }}

{{define "add_question.context"}}

<div class="row">
    <div class="col-lg"></div>
    <div class="p-3 bg-white col-lg-6" id="addquestion_form_container">
        <form method="POST" action="/question/new" enctype="multipart/form-data" id="addquestion_form">
            <div class="form-group">
                <input type="text" id="question_title" name="question_title"
                       class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Title"
                       required="" value={{.FormInput.Values.Get "question_title" }}>
            </div>

            <div class="form-group">
                <textarea rows="6" id="question_description" name="question_description"
                          class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                          placeholder="Description" required=""
                          value={{.FormInput.Values.Get "question_description" }}></textarea>
            </div>

            <div class="form-group">
                <label for="questionImagekey" class="btn btn-outline-primary">
                <input type="file" name="questionImagekey"
                       id="questionImagekey" style="display: none">
                    Attach Image
                </label>
            </div>
            <div class="form-group">
                <select name="category" id="category" class="btn form-group btn-outline-primary">
                    <option value='' disabled selected hidden>Choose A Category</option>
                    <option class="drpdwn_item" value='' hidden disabled selected>Category</option>
                    {{ range .Categories }}
                        <option class="m-3 p-3 drpdwn_item h5" value='{{ .ID }}'> {{ .Name }}</option>

                    {{ end }}

                </select>
            </div>

            <input style="visibility: hidden" type="text" name="csfrKey" value={{.FormInput.CSFR}}>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Publish</button>
            </div>
        </form>
    </div>
    <div class="col-lg"></div>
</div>
{{end}}
