{{define "admin.answers.layout"}}
    {{template "admin.navbar.layout" .}}
    {{template "admin.answers.content" .}}
    {{template "admin.footer.layout" .}}
{{end}}

{{define "admin.answers.content"}}
    <span class="h3 pl-2 m-2 ">Answers</span>

<table class="table table-striped ml-3 mt-3" id="table">
    <thead>
    <tr>
        <th onclick="sortTable(0)" scope="col">ID</th>
        <th onclick="sortTable(1)" scope="col">Title</th>
        <th onclick="sortTable(2)" scope="col">Description</th>
        <th onclick="sortTable(3)" scope="col">Author</th>
        <th onclick="sortTable(4)" scope="col">Category</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    {{range .Answers}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.UserID}}</td>
        <td>{{.Message}}</td>
        <td>{{.User.FullName}}</td>
        {{range .Categories}}
            {{if .Categories.ID eq .CategoryID}}
        <td>{{.Categories.ID.CategoryID}}</td>
                {{end}}
        {{end}}

        <td><a href="/admin/answers/delete?id={{.ID}}">Delete</a></td>
    </tr>
    {{end}}

    </tbody>
</table>
{{end}}