{{define "admin.categories.layout"}}
    {{template "admin.navbar.layout" .}}
    {{template "admin.categories.content" .}}
    {{template "admin.footer.layout" .}}
{{end}}

{{define "admin.categories.content"}}
    <span class="h3 pl-2 m-2 ">Categories</span>
    <a href="/admin/categories/new">
        <button class="float-right rounded-circle btn btn-primary m-2">+</button>
    </a>

    <table class="table table-striped mt-3" id="table">
        <thead>
        <tr>
            <th onclick="sortTable(0)" scope="col">ID</th>
            <th onclick="sortTable(1)" scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {{range .Categories}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td><a href="/admin/categories/update?id={{.ID}}">Edit</a></td>
                <td><a href="/admin/categories/delete?id={{.ID}}">Delete</a></td>
            </tr>
        {{end}}

        </tbody>
    </table>
{{end}}