{{ define "login.layout" }}
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../assets/css/login.css"/>
    <script id="applicationScript" type="text/javascript" src="../assets/js/Login.js"></script>
</head>

<body>
<div id="Login" class="Login_Class">
    <div class="Login_n_Class">
        <img class="Backgound_Class" src="../assets/img/Background.png"
             srcset="../assets/img/Background.png 1x, ../assets/img/Background@2x.png 2x">
        <div class="Body_Class">

            <div class="Content_Class">

                <form action="/login" method="post">


                    <div class="User_Info_Class">


                        <div class="Email_Class">
                            <div>
                                <svg class="Email_Background">
                                    <rect fill="rgba(252,252,252,1)" stroke="rgba(149,152,154,0.302)" stroke-width="1px"
                                          stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
                                          shape-rendering="auto" class="Email_Background_Class" rx="5" ry="5" x="0"
                                          y="0"
                                          width="337" height="34.691">
                                    </rect>
                                </svg>
                                <input style="visibility: hidden" type="text" name="csfrKey" value={{.CSFR}}>
                                <input type="text" class="Email_Hint_Class Email_Background"
                                       placeholder="example@domain.com" name="email"  value={{.Values.Get "email"}} >
                            </div>
                            <div class="Email__Class">
                                <span>Email</span>
                                <span style="color: red">{{.VErrors.Get "generic"}}</span>
                            </div>
                        </div>


                        <div class="Password_Class">
                            <div>
                                <svg class="Password_Background">
                                    <rect fill="rgba(252,252,252,1)" stroke="rgba(149,152,154,0.302)" stroke-width="1px"
                                          stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
                                          shape-rendering="auto" class="Password_Background_Class" rx="5" ry="5" x="0"
                                          y="0" width="337" height="33.452">
                                    </rect>
                                </svg>
                                <input type="password" class="Email_Hint_Class Password_Background" name="password">
                            </div>
                            <div class="Password_x_Class">
                                <span>Password</span>
                            </div>
                        </div>

                    </div>

                    <button class="Login_Button_Class btn" type="submit">

                        <svg class="Login_Background">
                            <rect fill="rgba(0,115,246,1)" stroke="rgba(250,250,250,1)" stroke-width="1px"
                                  stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"
                                  shape-rendering="auto" class="Login_Background_Class" rx="5" ry="5" x="0" y="0"
                                  width="337" height="43.2">
                            </rect>
                        </svg>
                        <div class="Login_Text_Class">
                            <span>Log In</span>

                        </div>


                    </button>


                </form>

                <div class="Sign_UP_Class">
                    <span>Don't have an account? </span><a href="/signup" style="color:rgba(57,57,57,1);">Sign Up</a>
                </div>
                <div class="Logo_Class">
                    <div class="Logo_Text_Class">
                        <span>Tiyake.com</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
{{end}}