
{{/*{{define "question.layout"}}*/}}
{{/*    <a href="#" style="color:inherit;text-decoration: none">*/}}
{{/*        <div class="w-100 col-lg-12">*/}}
{{/*            <div class="card mt-3">*/}}
{{/*                            <img class="card-img-top" src="http://placehold.it/1051x180" alt="Card image cap">*/}}
{{/*                <img class="w-auto h-auto img-fluid" src="../assets/images/Background.png" alt="Card image cap">*/}}
{{/*                <div class="card-body">*/}}
{{/*                    <h5 class="card-title">Habib</h5>*/}}
{{/*                    <p class="card-text">as</p>*/}}
{{/*                    <p class="card-text"><small class="text-muted">as</small></p>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
{{/*    </a>*/}}
{{/*{{end}}*/}}

