{{ define "signup.layout" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>sign_up</title>

  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/css/bootstrap-grid.min.css" />

  <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../assets/css/sign_up.css" />
  <script id="applicationScript" type="text/javascript" src="../assets/js/Sign_Up.js"></script>
</head>

<body >
  <div id="Sign_Up" class="Sign_Up_Class">
    <div class="Sign_Up_n_Class">
      <img class="Background_Class" src="../assets/img/Background.png" srcset="../assets/img/Background.png 1x, ../assets/img/Background@2x.png 2x" />
      <div class="Body_Class">
        <div class="Content_Class">
          <div class="Terms_Class">
            <span>By joining, you agree to the </span><span style="color:rgba(0,0,0,1);">Terms</span><span> and
            </span><span style="color:rgba(0,0,0,1);">Privacy Policy</span><span>.</span>
          </div>

          <form action="/signup" method="post">
            <button class="Sign_Up_Button_Class btn" type="submit">
            
              <svg class="Sign_Up_Background">
                <rect fill="rgba(0,115,246,1)" stroke="rgba(250,250,250,1)" stroke-width="1px" stroke-linejoin="miter"
                  stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" class="Sign_Up_Background_Class"
                  rx="5" ry="5" x="0" y="0" width="325.237" height="41.692"></rect>
              </svg>
              <div class="Sign_Up_u_Class">
                <span>Sign Up</span>
              </div>
            </button>
  
  
  
  
  
  
            <div class="User_Info_Class">
  
              <div class="First_Name_Class">
                <div>
                  <svg class="First_Name_Background">
                    <rect fill="rgba(252,252,252,1)" stroke="rgba(149,152,154,0.302)" stroke-width="1px"
                      stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto"
                      class="First_Name_Background_Class" rx="5" ry="5" x="0" y="0" width="325.237" height="32.285">
                    </rect>
                  </svg>
                  <input style="visibility: hidden" type="text" name="csfrKey" value={{.CSFR}}>

                  <input class="First_Name_Hint_Class First_Name_Background" type="text" placeholder="Habib" name="fullname" value={{.Values.Get "fullname"}}>
                </div>
                <div class="First_Name__Class">
                  <span>Full Name</span>
                  <span  style="color:red">{{.VErrors.Get "fullname"}}</span>
                </div>
              </div>
  
  
             
  
  
              <div class="Email_Class">
                <div>
                  <svg class="Email_Background">
                    <rect fill="rgba(252,252,252,1)" stroke="rgba(149,152,154,0.302)" stroke-width="1px"
                      stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto"
                      class="Email_Background_Class" rx="5" ry="5" x="0" y="0" width="325.237" height="33.48"></rect>
                  </svg>
                  <input type="text" class="Email_Background  Email_Hint_Class" placeholder="example@domain.com" name="email" value={{.Values.Get "email"}}>
                </div>
                <div class="Email__Class">
                  <span>Email</span>
                  <span  style="color:red">{{.VErrors.Get "email"}}</span>
                </div>
              </div>
  
  
  
  
              <div class="Password_Class">
                <div>
                <svg class="Password_Hint">
                  <rect fill="rgba(252,252,252,1)" stroke="rgba(149,152,154,0.302)" stroke-width="1px"
                    stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto"
                    class="Password_Hint_Class" rx="5" ry="5" x="0" y="0" width="325.237" height="32.285"></rect>
                </svg>
                <input type="password" class="Email_Hint_Class Password_Hint" name="password">
              </div>
                <div class="Password_y_Class">
                  <span>Password</span>
                  <span style="color:red">{{.VErrors.Get "password"}}</span>
                </div>
              </div>
              
            </div>
  
          
          </form>
          


          <div class="Login_Class">
            <span>Already have an account? </span><a href="/" style="color:rgba(0,0,0,1);">Login</a>
          </div>
          <div class="Logo_Class">
            <div class="Logo_Text_Class">
              <span>Tiyake.com</span>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>
{{end}}