.mediaViewInfo {
	--web-view-name: Login;
	--web-view-id: Login;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Login_Class {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 871px;
	height: 799px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Login;
	--web-view-id: Login;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
.Login_n_Class {
	position: absolute;
	width: 787px;
	height: 639px;
	left: 0px;
	top: 80px;
	overflow: visible;
}
.Backgound_Class {
	position: absolute;
	width: 366px;
	height: 639px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Body_Class {
	position: absolute;
	width: 337px;
	height: 294.146px;
	left: 450px;
	top: 172.565px;
	overflow: visible;
}
.Content_Class {
	position: absolute;
	width: 337px;
	height: 294.146px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Login_Button_Class {
	cursor: pointer;
	position: absolute;
	width: 337px;
	height: 43.2px;
	left: 0px;
	top: 250.946px;
	overflow: visible;
}
.Login_Background {
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 43.2px;
	left: 0px;
	top: 0px;
}
.Login_Text_Class {
	position: absolute;
	left: 151px;
	top: 12.489px;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	line-height: 14px;
	margin-top: -1px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.25px;
}
.Login_Error {
	position: absolute;
	left: 200px;
	top: 35px;
	color: red;
}
.User_Info_Class {
	position: absolute;
	width: 337px;
	height: 121.18px;
	left: 0px;
	top: 111.43px;
	overflow: visible;
}
.Password_Class {
	position: absolute;
	width: 337px;
	height: 53.037px;
	left: 0px;
	top: 68.143px;
	overflow: visible;
}
.Password_Background {
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 33.452px;
	left: 0px;
	top: 19.585px;
}
.Password_x_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -10.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.25px;
}
.Email_Class {
	position: absolute;
	width: 337px;
	height: 53.037px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Email_Background {
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 34.691px;
	left: 0px;
	top: 18.346px;
}
.Email__Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -10.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.25px;
}
.Email_Hint_Class {
	opacity: 0.45;
	overflow: hidden;
	padding-left: 5px;
	white-space: nowrap;
	line-height: 27px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.25px;
}
.Sign_UP_Class {
	position: absolute;
	left: 78.055px;
	top: 60.885px;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	line-height: 41px;
	margin-top: -14.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.25px;
}
.Logo_Class {
	position: absolute;
	width: 202px;
	height: 51px;
	left: 68px;
	top: 0px;
	overflow: visible;
}
.Logo_Text_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
.Blue_Dot {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 9px;
	left: 23px;
	top: 11px;
}
.Blue_Dot_ {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 9px;
	left: 116px;
	top: 33px;
}